<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="home">
<div id="container">
  <div id="header">
    <h1><a href="index.html">Granite<span>Glass</span></a></h1>		
  </div>
    
  <div id="body">
    <ul id="nav">
      <li class="<%= "on" if params[:action] == "index" %> first"><%= link_to 'Home Page', root_path  %> </li>
      <li class="<%= "on" if params[:action] == "about" %>"><%= link_to 'About', about_pages_path  %></li> 
      <li><%= link_to 'Home Page', root_path  %></li>
      <li><%= link_to 'Home Page', root_path  %></li>
      <li><%= link_to 'Home Page', root_path  %></li>
    </ul>
    <div id="content">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
	
  <div id="footer">
    <p class="left">&copy; 2008 Company name</p>
    <p class="right">Template by Axel Bartolomei</p>
  </div>	
</div>	
</body>
 