<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body id="home">
<div id="container">
  <div id="header">
    <h1>
      <%= link_to root_path do %>
        <span>My</span>TUTOR
      <% end %>
    </h1>
    <% if user_signed_in? %>
      Ciao <%= current_user.email %>! <%= link_to "Logout", new_user_session_path %>
    <% else %>
      <%= link_to "Registrati", new_user_registration_path %> | <%= link_to "Accedi", new_user_session_path %>
    <% end  %>
  </div>
    
  <div id="body">
    <ul id="nav">
      <li class="<%= "on" if params[:controller] == "pages" && params[:action] == "index" %> first"><%= link_to 'Home Page', root_path  %> </li>
      <li class="<%= "on" if params[:controller] == "pages" && params[:action] == "about" %>"><%= link_to 'About', about_pages_path  %></li> 
      <li class="<%= "on" if params[:controller] == "announcements" && params[:action] == "index" %> first"><%= link_to 'Annunci', announcements_path  %> </li>      
      <li><%= link_to 'Home Page', root_path  %></li>
      <li><%= link_to 'Home Page', root_path  %></li>
    </ul>
    <div id="content">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </div>
	
  <div id="footer">
    Opzioni debug <br />
    <% if user_signed_in? %>
      User mail: <%= current_user.email %><br />
      User ID: <%= current_user.id %>
    <% end %>
  </div>	
</div>	
</body>
 